.nameHolder {
  display: flex;
  font-size: small;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  color: rgb(61, 27, 233);
  margin-bottom: 8px;
}
.noName {
  color: white;
}

.nameHolderWinner {
  display: flex;
  font-size: small;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  background-color: mediumseagreen;
  color: white;
  margin-bottom: 8px;
}

.squareNumber {
  display: flex;
  text-align: left;
  font-size: 6px;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding-top: 2px;
  padding-left: 2px;
}

.squareNumberPaid {
  display: flex;
  text-align: left;
  font-size: 6px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 2px;
  padding-left: 2px;
}
.squareNumberWinner {
  color: mediumseagreen;
}

@media only screen and (min-width: 768px) {
  .nameHolder {
    margin-bottom: 16px;
  }
  .nameHolderWinner {
    margin-bottom: 16px;
  }

  .squareNumber,
  .squareNumberPaid {
    font-size: 10px;
    padding-top: 2px;
    padding-left: 2px;
  }
}
@media only screen and (min-width: 900px) {
  .nameHolder {
    margin-bottom: 16px;
  }
  .nameHolderWinner {
    margin-bottom: 16px;
  }

  .squareNumber,
  .squareNumberPaid {
    font-size: small;
    padding-top: 0px;
    padding-left: 2px;
  }
}
