.nameHolder {
  display: flex;
  font-size: small;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin-bottom: 16px;
}
.noName {
  color: white;
}

.nameHolderWinner {
  display: flex;
  font-size: small;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  background-color: mediumseagreen;
  color: white;
  margin-bottom: 16px;
}

.squareNumber {
  display: flex;
  text-align: left;
  font-size: small;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding-top: 2px;
  padding-left: 2px;
}

.squareNumberPaid {
  display: flex;
  text-align: left;
  font-size: small;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 2px;
  padding-left: 2px;
}
.squareNumberWinner {
  color: mediumseagreen;
}
.squareFirstName {
  display: flex;
  text-align: center;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.squareSecondName {
  display: flex;
  text-align: center;
  font-size: small;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .squareFirstName,
  .squareSecondName {
    font-size: xx-small;
  }
  .nameHolder {
    margin-bottom: 10px;
  }
  .nameHolderWinner {
    margin-bottom: 10px;
  }
  .squareFirstName {
    margin-bottom: 5px;
  }

  .squareNumber,
  .squareNumberPaid {
    font-size: xx-small;
    padding-top: 2px;
    padding-left: 2px;
  }
}
